#navigation-bar {
    background-color: #74BFB5;
    height: 60px;
    width: 100%;
}

#navigation-bar a {
    color: white;
    font-family: "Ropan+Sans";
}

#navigation-bar li:hover {
    background-color: #518981;
}

#navigation-bar .dropdown-menu {
    background-color: #518981;
}

#navigation-bar .dropdown-menu a:hover {
    color: black;
}

#navigation-bar .nav a {
    font-size: 1.4rem;
}